@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;800&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* navbar style */

.navBar{
    background-color: rgb(255,255,255); 
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}
.navBarTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarTitle img{
    width: 40px;
    margin-right: 10px;
}

.navBarTitle h1 span{
    color: red;
}
.navBarMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul li{
    padding: 10px;
}
.icons{
    display: flex;
    align-items: center;
    background-color: rgb(231,230,233);
    padding: 8px 22px;
    border-radius: 6px;
}

.icons p{
    margin-right: 10px;
}

.youTube{
    color: red;
    margin-right: 8px;
}

/* navbanner style */

.navBanner{
    background-color: rgb(251,247,253);
    
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
}

.navBarDetails h1{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
}

.navBarDetails p{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(211,77,119);
}

.navBarDetails ul{
    list-style: none;
}
.navBarDetails ul li i{
    color: rgb(215, 138, 138);
    margin: 6px 12px;
}
.btnOne{
    margin: 10px;
    padding: 8px 18px;
    background-color: rgb(255,66,155);
    border-radius: 18px;
    color: white;
    border: none;
}
.btnTwo{
    margin: 10px;
    padding: 8px 18px;
    background-color: rgb(78,197,247);
    border-radius: 18px;
    color: white;
    border: none;
}
.navBarImage img{
    width: 400px;
}

/* nav responsive */

@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
        margin: 0px;
    }
    .menu ul{
        flex-direction: column;
    }
    .navBarMenu{
        flex-direction: column;
    }
    .icons{
        margin: 0px;
    }

    .banner{
        flex-direction: column-reverse;
        margin: 0px;
    }

    .navBarImage img{
        width: 100%;
        margin: 20px 0px;
    }

    .navBarDetails h1{
        text-align: center;
        margin: 0px;
    }
    .navBarDetails p{
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .banner{
        flex-direction: column;
        margin: 0px;
    }
}

/* video section style */


.videoTitle{
    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 600;
}
.videoSection h1 span{
    color: rgb(228,144,220);
}
.videoDesc{
    text-align: center;
    font-size: 12px;
    color: #534C64;

}
.videoCard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: 22px 100px;
}

.videoCard img{
    width: 100%;
}
.videoCard p{
    font-size: 12px;
    font-weight: 500;
    color: #534C64;
}
.hoverSection{
    background-image: url("./images/rectangle\ 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 240px;
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hoverSection i{
    color: white;
    font-weight: 500;
    font-size: 29px;
}
.hoverSection p{
    color: white;
    font-size: 18px;
}
.hover{
    visibility: hidden;
    font-size: 22px;
    text-align:center;
}
.hoverSection:hover .hover{
    visibility: visible;
}
.hoverSection:hover {
    background: linear-gradient(rgba(57, 45, 45, 0.7), rgba(152, 106, 106, 0.7)), url("./images/rectangle 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-radius: 10px;
}


/* video section responsive */

@media screen and (max-width:576px) {
    .videoCard{
        flex-direction: column;
    }
    .card-3 p{
        text-align: center;
        margin: 0px;

    }
    .hoverSection:hover{
        border-radius: 50%;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .videoCard{
        flex-direction: column;
    }

    .videoSection{
        margin-top: 60px;
    }
    .card-3 p{
        text-align: center;
    }

    .hoverSection:hover{
        border-radius: 50%;
    }
}

/* play section style */


.playingSection{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.play-details{
    margin-top: 90px;
}
.play-details h1{
    font-size: 34px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15px;
    text-align: end;
}
.play-details h1 span{
    color: rgb(230,75,189);
}
.play-details p{
    text-align: end;
    font-size: 14px;
    color: #534C64;

}
.bodyImg{
    width: 350px;

}

.overImg img{
    width: 150px;
    position: relative;
    top: -152px;
    left: -63px;

}

/* responsive */

@media screen and (max-width:576px) {
    .playingSection{
        flex-direction: column-reverse;
    }
    .play-details{
        margin-top: -80px;
    }
    .play-details p{
        text-align: center;
    }
    .play-details h1{
        text-align: center;
    }
    .play-image{
        margin-left: 50px;
    }
    .bodyImg{
        width: 70%;
        margin: 0px;
    }
    .overImg img{
        width: 40%;
    }

}
@media screen and (min-width:576px) and (max-width:960px) {
    .play-details{
        margin-right: 20px;
    }
    .overImg{
        width: 100%;
    }
}

/* career style */

.careerSection{
    background-color: rgb(255,66,165);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-bottom: 60px;
}

.careerDetails{
    margin: 20px 0px 20px 100px;

}
.careerDetails h1{
    margin-bottom: 10px;
}
.careerDetails p{
    font-size: 12px;
    color: rgb(216, 221, 225);
    margin-bottom: 20px;
}
.careerList{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.left-side{
    text-align: start;
    font-size: 14px;
}
.right-side{
    text-align: end;
    font-size: 14px;

}
.btnCareer button{
    padding: 12px 22px;
    border-radius: 42px;
    border: none;
    text-transform: uppercase;
    color: rgb(123, 13, 13);
}
.careerImg img{
    width: 400px;
}

/* responsive */

@media screen and (max-width:576px) {
    .careerSection{
        flex-direction: column-reverse;
    }
    .careerImg img{
        width: 100%;
    }
    .careerDetails{
        margin: 0px;
    }
    .careerDetails h1, .careerDetails p{
        text-align: center;
    }
    
    .btnCareer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
}


/* icon section */


.iconSection{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.iconList{
    display: grid;
    grid-template-columns: repeat(5,130px);
    gap: 20px;
}

.iconList div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: transparent;
    border-radius: 40px;
    padding: 3px;
    transition: transform 0.2s ease-in-out;
}
.iconList div:hover{
    border: .5px solid red;
    color: tomato;
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
}
.iconList div img{
    width: 30px;
}
.iconList div p{
    font-size: 10px;
}

@media screen and (max-width:576px) {
    .iconList{
        grid-template-columns: repeat(3,60px);
    }
    .iconList div p{
        font-size: 6px;
    }
    .iconList div img{
        width: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    .iconList{
        grid-template-columns: repeat(4,90px);
    }
}

/* footer style */

.foterSection{
    text-align: center;
    background-color: rgb(11,2,35);
    color: white;
    padding: 70px 0px;
}

.footerTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}

.footerTitle img{
    margin-right: 10px;
}

.footerTitle h1{
    font-size: 46px;
    font-weight: 500;
}
.footerTitle h1 span{
    color: red;
}

.footerMenu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerMenu li{
    font-size: 16px;
    padding: 10px;
    margin-bottom: 30px;
}

.footerIcons i{
    font-size: 26px;
    padding: 14px;
    margin-bottom: 30px;
}

.footerPolicy ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerPolicy li{
    padding: 10px;
    font-size: 12px;
    color: #827b92;
    margin-bottom: 10px;

}
.footerCopyRight p{
    font-size: 12px;
    color: #827b92;

}

/* responsive */

@media screen and (max-width:576px) {
    .footerMenu li{
        font-size: 12px;
    }
    .footerMenu ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footerIcons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footerPolicy ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}