@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;800&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* navbar style */

.navBar{
    background-color: rgb(255,255,255); 
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}
.navBarTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarTitle img{
    width: 40px;
    margin-right: 10px;
}

.navBarTitle h1 span{
    color: red;
}
.navBarMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul li{
    padding: 10px;
}
.icons{
    display: flex;
    align-items: center;
    background-color: rgb(231,230,233);
    padding: 8px 22px;
    border-radius: 6px;
}

.icons p{
    margin-right: 10px;
}

.youTube{
    color: red;
    margin-right: 8px;
}

/* navbanner style */

.navBanner{
    background-color: rgb(251,247,253);
    
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
}

.navBarDetails h1{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
}

.navBarDetails p{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(211,77,119);
}

.navBarDetails ul{
    list-style: none;
}
.navBarDetails ul li i{
    color: rgb(215, 138, 138);
    margin: 6px 12px;
}
.btnOne{
    margin: 10px;
    padding: 8px 18px;
    background-color: rgb(255,66,155);
    border-radius: 18px;
    color: white;
    border: none;
}
.btnTwo{
    margin: 10px;
    padding: 8px 18px;
    background-color: rgb(78,197,247);
    border-radius: 18px;
    color: white;
    border: none;
}
.navBarImage img{
    width: 400px;
}

/* nav responsive */

@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
        margin: 0px;
    }
    .menu ul{
        flex-direction: column;
    }
    .navBarMenu{
        flex-direction: column;
    }
    .icons{
        margin: 0px;
    }

    .banner{
        flex-direction: column-reverse;
        margin: 0px;
    }

    .navBarImage img{
        width: 100%;
        margin: 20px 0px;
    }

    .navBarDetails h1{
        text-align: center;
        margin: 0px;
    }
    .navBarDetails p{
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .banner{
        flex-direction: column;
        margin: 0px;
    }
}

/* video section style */


.videoTitle{
    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 600;
}
.videoSection h1 span{
    color: rgb(228,144,220);
}
.videoDesc{
    text-align: center;
    font-size: 12px;
    color: #534C64;

}
.videoCard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: 22px 100px;
}

.videoCard img{
    width: 100%;
}
.videoCard p{
    font-size: 12px;
    font-weight: 500;
    color: #534C64;
}
.hoverSection{
    background-image: url("./images/rectangle\ 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 240px;
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hoverSection i{
    color: white;
    font-weight: 500;
    font-size: 29px;
}
.hoverSection p{
    color: white;
    font-size: 18px;
}
.hover{
    visibility: hidden;
    font-size: 22px;
    text-align:center;
}
.hoverSection:hover .hover{
    visibility: visible;
}
.hoverSection:hover {
    background: linear-gradient(rgba(57, 45, 45, 0.7), rgba(152, 106, 106, 0.7)), url("./images/rectangle 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-radius: 10px;
}


/* video section responsive */

@media screen and (max-width:576px) {
    .videoCard{
        flex-direction: column;
    }
    .card-3 p{
        text-align: center;
    }
    .hoverSection:hover{
        border-radius: 50%;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .videoCard{
        flex-direction: column;
    }

    .videoSection{
        margin-top: 60px;
    }
    .card-3 p{
        text-align: center;
    }

    .hoverSection:hover{
        border-radius: 50%;
    }
}